@import url('https://fonts.googleapis.com/css2?family=ABeeZee&family=Patrick+Hand+SC&display=swap');

body {
    text-align: center;
    font-family: ABeeZee, sans-serif;
}

.heading {
    text-align: center;

}

.game-area {
    border-style: groove;
    width: 80%;
    margin-left: auto;
    margin-right: auto;
}

#splash {
    display: block;
}

#oneplayer {
    display: none;
}

#twoplayer {
    display: none;
}

.flexbox {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.vert-flex {
    display: flex;
    flex-direction: column;
}

button {
    background-color: white;
    border-radius: 12px;
    border-style: solid;
    font-family: Patrick Hand SC, cursive;
}