body {
    text-align: center;
}

.heading {
    text-align: center;

}

.game-area {
    border-style: groove;
    width: 80%;
    margin-left: auto;
    margin-right: auto;
}

#splash {
    display: block;
}

#oneplayer {
    display: none;
}

#twoplayer {
    display: none;
}

.flexbox {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.vert-flex {
    display: flex;
    flex-direction: column;
}