@import url('https://fonts.googleapis.com/css2?family=ABeeZee&family=Patrick+Hand+SC&display=swap');
html, body {
    height: 100%;
}

body {
    text-align: center;
    font-family: ABeeZee, sans-serif;
    background-color: #ccffcc;
}

/** styling for modal**/

button {
    margin-bottom: 20px;
    margin-left: 10px;
    background-color: white;
    border-radius: 12px;
    border-style: solid;
    font-family: Patrick Hand SC, cursive;
    font-size: 1em;
}

.get-help {
    display: none;
    position: fixed;
    z-index: 1;
    text-align: left;
    border-style: ridge;
    background-color: white;
    width: 50%;
    margin-left: 25%;
    margin-right: 25%;
}

ul {
    text-align: center;
    list-style-type: none;
    padding: 0;
}

h2 {
    text-align: center;
}

.close {
    font-weight: bold;
}

#game-over-modal {
    display: none;
    position: fixed;
    z-index: 1;
    text-align: left;
    border-style: ridge;
    background-color: white;
    width: 50%;
    margin-left: 25%;
    margin-right: 25%;
}

#game-over-modal h1 {
    text-align: center;
}

#game-over-modal button {
    text-align: center;
}

.container {
    bottom: 0;
}

#p1-win {
    display: none;
}
  
#p1-lose {
    display: none;
}

.heading {
    text-align: center;
}

.game-area {
    border-style: groove;
    width: 80%;
    margin-left: auto;
    margin-right: auto;
    background-color: white;
}

.game-image {
    max-width: 80%;
    height: auto;
}

#splash {
    display: block;
    height: 60%;
}

#oneplayer {
    display: none;
}

#next {
    visibility: hidden;
    margin: 0 auto;
}

.flexbox {
    padding-top: 5%;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.flexbox2 {
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
}

.vert-flex {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

#player-win {
    visibility: hidden;
}

#comp-win {
    visibility: hidden;
}

#player-tie {
    visibility: hidden;
}

#round-result {
    text-align: center;
}

/* On screens that are 560 px or less, makes modal wider */
@media screen and (max-width: 560px) {
    #game-over-modal {
        width: 80%;
        margin-left: 10%;
        margin-right: 10%;
        text-align: center;
    }
  }

/* For screens that are 900 px or less, makes game area taller */
@media screen and (max-width: 900px) {
    #oneplayer {
        height: 80%;
    }

    h1 {
        margin-bottom: 2px;
    }
}